@media (min-device-width: 521px){


.footer {
    background: bottom left / contain url("../images/footer.jpg") no-repeat;
    font-size: 1rem;
    height: 250px;
    background-color: #fbd0d7;
}

.lien {
    display: flex;
    justify-content: space-around;
}

.droitexploitation {
    text-align: center;
}
}
a {
    color: black;
}
* {
     margin: 0px;
     padding: 0px;

 }

@media handholder, (max-device-width: 520px) {
    .lien {
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    .droitexploitation {
        text-align: center;
    }

    .footer {
        background: bottom left / contain url("../images/footer.jpg") no-repeat;
        font-size: 1.1rem;
        background-color: #fbd0d7;
        height: 150px;
    }
}
