
/* *******************************************************
          Menu mobile
******************************************************** */


header{
    margin-bottom: 80px;
}


#menuToggle
{
    display: block;
    position: relative;
    top: 35px;
    left: 35px;
    z-index: 1;
    padding: 5px;
    padding-top: 10px;
    border-radius: 50%;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #333;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 80vw;
    height: 100vh;
    margin: -100px 0 0 -40px;
    top:65px;

    background-color: #f3f2f2;


    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*.navigation-mobile #menu > ul > li {*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/
nav.navigation-mobile{
     display: none;
 }
.iconsize {
    font-size: 40px;
}
#menu img{
    margin-top: 50px;
    margin-bottom: 50px;
}
#menu a
{
    width :100%;
    text-align: center;
    padding: 10px 0;
    /*font-size: 22px;*/
    //font-family: arial;
    text-transform: uppercase;
    color:#333;
    transition: ease 0.3s;
}
#menu a > li
{
   list-style: none;
}

#menu a:hover{
    color: rgba(44, 117, 255, 1);
}

.menu-mobile{
    height: 100vh;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ div
{
    transform: none;
}

.flex-column-center{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

@media all and (max-width:1024px) {
    #navigation{
        display: none;
    }
    nav.navigation-mobile{
        display: block;
    }
    section{
        width : 100%;
    }
    #menuToggle{
        position: fixed;
        z-index: 60;
    }
}

/* *****************************************************************
          barre de navigation
****************************************************************** */
nav{
    /*background-color: black;*/
    display: flex;
    justify-content: center;

}

nav div.container{
    justify-content: space-between;
    align-items: center;
}


nav div.container a {
    /*padding: 1%;*/
    /*color: white;*/
    text-transform: uppercase;
    font-family: arial;
    transition: ease 0.3s;
}

nav div.container a:hover{
    color: rgba(44, 117, 255, 1);
}


.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
    /* Mise en forme */
    width: 100%; /* <-- Largeur de votre site */
}
/* *******************************************************
         Style généraux
******************************************************** */

.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    background-color: rgba(99, 99, 99, 0.7);
    width: 1100px;
    margin-bottom: 3%;
    padding: 2%;
}

a{
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
}
